
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 20px;
}


header {
    background-color: #f9fafb;
    padding: 5px 10px; 
    border-bottom: 1px solid #ddd;
}

.header-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    gap: 1px; 
}

header h1 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.black{
    color: black;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}


main{
    padding: 40px 40px;
}
button {
    background-color:#1c8753;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button a {
    color: white;            
    text-decoration: none;  
}


button:hover {
    background-color: #1c8753;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #f2f2f2;
}

thead th {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

footer hr {
    margin: 20px 0;
    border: 1px solid black;
}

footer p {
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
}
